@model IndexViewModel

@{
    Layout = "~/Views/Shared/_HatLayout.cshtml";
}

@section styles {
    <link href="@Url.Content("~/css/index.css")" rel="stylesheet">
}

<div class="row justify-content-center">
    <div class="col-8 text-center">
        <div class="welcome-block">
            <h3>Добро пожаловать в блочный мир, @Model.User.UserName</h3>
            <h4>У тебя уже накоплено <span id="current_score">@Model.User.CurrentScore</span> алмазной руды</h4>
            <h4>Всего ты добыл <span id="record_score">@Model.User.RecordScore</span> алмазной руды</h4>
            <h4>С одного удара киркой ты добываешь <span id="profit_per_click">@Model.User.ProfitPerClick</span> алмазов</h4>
            <h4>Твои подчиненные ежесекундно добывают <span id="profit_per_second">@Model.User.ProfitPerSecond</span> алмазов</h4>

            <!-- Блок с рудой -->
            <div class="ore-click-area position-relative d-inline-block">
                <button id="clickitem" class="click-item bg-transparent border-0 position-relative">
                    <img class="w-50" src="~/ore.png" alt="Руда" />
                    <!-- Контейнер для всплывающих алмазов -->
                    <div id="ore-container" class="ore-container"></div>
                </button>
            </div>
        </div>
    </div>
</div>


<div class="row justify-content-center">
    <div class="col-8 text-center">
        <h3>Бусты</h3>
        <div class="boosts-container d-flex justify-content-center flex-wrap">
            @foreach (var boost in Model.Boosts)
            {
                var userBoost = Model.User.UserBoosts.FirstOrDefault(ub => ub.BoostId == boost.Id);
                var price = userBoost?.CurrentPrice ?? boost.Price;
                var quantity = userBoost?.Quantity ?? 0;

                <button class="boost-button border-0 bg-secondary m-3">
                    <span class="boost-id" hidden>@boost.Id</span>
                    <h4>@boost.Title</h4>
                    <img src="data:image/png;base64, @Convert.ToBase64String(boost.Image)" height="100" />
                    <h5 class="boost-price-string">Цена: <span class="boost-price">@price</span></h5>
                    <h5>
                        Доход: @boost.Profit
                        @if (boost.IsAuto)
                        {
                            <span> в секунду</span>
                        }
                    </h5>
                    <h5>
                        Количество приобретенных бустов: <span class="boost-quantity">@quantity</span>
                    </h5>
                </button>
            }
        </div>
    </div>
</div>

<div class="tips-container text-center">
    <button class="tips-arrow left-arrow" onclick="changeTip(-1)">&#8592;</button>
    <div class="tips-content">
        <p id="tip-text">Подсказка 1: Используйте кирку для добычи руды!</p>
    </div>
    <button class="tips-arrow right-arrow" onclick="changeTip(1)">&#8594;</button>
</div>

@section scripts {
    <script src="~/js/index.js"></script>
}